<?php
	/*
	------------------
	Language: Ingles
	------------------
	*/

	define('text_menu_home', 'Inicio');
	define('text_menu_archive', 'Archivo');
	define('text_menu_top10', 'Top 10');
	define('text_menu_forum', 'Foro');
	define('text_menu_upload_archive', 'Subir Archivos!');
	define('text_menu_donate', 'Donaciones');
	define('text_menu_remember', 'Recuerda !');
	define('text_this_is_hostfile', 'Este es un Hosting de archivos para usuarios y miembros de EnLinea.Lab Network. ');
	define('text_maximum_upload', 'Maximo de Subida 100 MB Por Archivo! | Descargas: <b><font color="red">Ilimitadas!</font></b>');

	//Buttons
	define('text_button_upload', 'Subir!');
	define('text_button_download_archive', 'Descargar Archivo');

?> 