<?php
	/*
	------------------
	Language: Spanish
	------------------
	*/
	//Inicio de sesión
	define('text_usuario_placeholder', 'USUARIO');
	define('text_password_placeholder', 'CONTRASEÑA');
	define('text_iniciar_sesion_button', 'INICIAR SESIÓN');
	
	//Preguntas
	define('text_pregunta_inicio_control_inventario', '¿Desea comenzar el control de inventario?');
	
	//Titulos APP
	define('text_app_principal_menu', 'MENU PRINCIPAL');
	
	define('text_no_app', 'NO HAY APP ASIGNADA A ESTA EMPRESA');
	define('text_app_name_control_inventario', 'CONTROL DE INV.');
	define('text_app_name_inventario', 'INVENTARIO');
	define('text_app_name_pedidos', 'PEDIDOS');
	define('text_app_name_consulta_stock', 'CONSULTA STOCK');
	define('text_app_name_confirmar_servicio', 'CONFIRMAR SERVICIO');
	define('text_app_name_confirmar_servicio_mini', 'CONFIRMAR SERV.');
	define('text_app_name_autoventa', 'AUTOVENTA');
	
	define('text_app_name_consulta_stock_producto', 'Por Producto');
	define('text_app_name_consulta_stock_ubicacion', 'Por Ubicación');
	define('text_app_name_consulta_stock_etiqueta', 'Por Etiqueta / SSCC');
	
	//Avisos
	define('text_aviso_no_producto', 'No hay productos para mostrar');
	define('text_aviso_no_clientes', 'No hay clientes para mostrar');
	define('text_aviso_no_movimientos', 'No hay movimientos para mostrar');
	define('text_aviso_no_producto_almacen', 'El producto no se encuentra en el almacen');
	define('text_aviso_no_producto_ubicacion', 'El producto no se encuentra en la ubicaci&ocuate;n');
	define('text_aviso_muchos_producto', 'Hay demasiados registros, intente ser m&aacute;s preciso');
	define('text_aviso_muchos_clientes', 'Hay demasiados registros, intente ser m&aacute;s preciso');
	define('text_aviso_muchos_movimientos', 'Hay demasiados registros, intente ser m&aacute;s preciso');
	define('text_aviso_ubicacion_escogida', 'CONSULTAR');
	define('text_aviso_buscar_producto', 'Buscar producto ...');
	define('text_aviso_buscar_sscc_etiqueta', 'Buscar etiqueta / sscc  ...');
	define('text_aviso_no_ubicaciones_ocupadas', 'No hay ubicaciones ocupadas.');
	define('text_aviso_intro_criterio', 'Introduzca un criterio de búsqueda.');
	define('text_aviso_inv_succefull', 'Se ha completado el control de inventario.');
	define('text_aviso_search_ubicaciones', 'Buscado ubicaciones ocupadas');
	define('text_aviso_precess', 'Procesando, espere por favor...');
	define('text_aviso_insert_search_keyword', 'Inserte un criterio de busqueda.');
	define('text_aviso_insert_product_lote', 'Debe introducir un producto o un lote existente en el almacen.');
	define('text_aviso_producto_no_existe', 'El producto no existe en el almacen.');
	define('text_aviso_sscc_no_existe', 'La etiequeta no existe en el almacen.');
	define('text_aviso_etinterna_no_existe', 'La etiequeta interna no existe en el almacen.');
	define('text_aviso_ubicacion_no_existe', 'La ubicacion no existe en el almacen.');
	define('text_aviso_revisar_datos_introducidos', 'Revise los datos introducidos.');
	define('text_aviso_error_tiempo_minimo_control_inventario', 'El usuario ya ha realizado el inventario hace menos de ');
	define('text_aviso_cliente_no_albaran', 'No se han encontrado albaranes para el cliente seleccionado.');
	define('text_aviso_cantidad_acumular', 'Introduzca la cantidad a acumular');
	define('text_aviso_cantidad_editar', 'Introduzca la cantidad a total');
	define('text_aviso_confirm_line_no_select', 'Seleccione una línea del documento');
	define('text_aviso_confirm_line_confirm', 'Linea confirmada');
	define('text_aviso_disconfirm_line_confirm', 'Linea desconfirmada');
	define('text_aviso_confirm_line_no_confirm', 'La linea no se podido confirmar confirmada');
	define('text_aviso_confirm_line_no_change', 'No se ha podido cambiar la cantidad servida');
	define('text_aviso_todas_lineas_confirmadas', 'Todas las lineas confirmadas');
	define('text_aviso_line_is_confirmed', 'La linea está confirmada');
	define('text_aviso_client_not_found', 'El cliente no existe');
	define('text_aviso_pedido_creado', 'El pedido se ha creado correctamente');
	define('text_aviso_pedido_no_creado', 'El pedido <b>NO</b> se ha creado correctamente');
	define('text_aviso_no_hay_pedido_mostrar', 'No hay documentos de salida para mostrar.');
	define('text_aviso_pedido_no_existe', 'El pedido <b>NO</b> existe, seleccione uno de la lista.');
	define('text_aviso_cant_pedida', 'Introduzca la cantidad pedida, la cantidad en almacen es de ');
	define('text_aviso_cant_pedida_error', 'La la cantidad introducida no es correcta');
	define('text_aviso_ok_intro_linea_pedido', 'Linea introducida correctamente.');
	define('text_aviso_actualizada_intro_linea_pedido', 'Linea actualizada correctamente.');
	define('text_aviso_actualizada_eliminada_linea_pedido', 'Linea eliminada correctamente.');
	define('text_aviso_no_hay_cantidad', 'No hay stock del producto introducido');
	define('text_aviso_cantida_intro_supera_stock', 'La cantidad introducida supera el stock del almacen');
	define('text_aviso_esperando_respuesta', 'Esperando respuesta');
	define('text_aviso_producto_existe_en_pedido', 'El producto ya se encuentra en el pedido, ¿desea sumar la cantidad introducida?');
	define('text_aviso_linea_eliminada', 'Linea eliminada correctamente');
	
	//Errores
	define('text_aviso_error_loading_app', 'Ha ocurrido un error al intentar cargar la aplicación');
	define('text_aviso_error_loading_lang', 'No se ha podido cargar el idioma');
	define('text_aviso_error_send_data', 'Error al enviar los datos');
	define('text_aviso_error_unknown', 'Error desconocido, pongase en contacto con el servicio técnico');
	define('text_aviso_error_inv_parcial', 'Error: no se creará el inventario parcial');
	define('text_error_process', 'Error procesando los datos.');
	define('text_inventario_existe_borrar', 'Ya existe un inventario sobre la ubicacion que ha elegido. ¿Desea eliminarlo y realizarlo de nuevo?');
	define('text_inventario_borrado', 'El inventario ha sido borrado correctamente. Ahora puede realizarlo de nuevo.');
	define('text_inventario_no_borrado', 'El inventario NO se borrará, se le redireccionará para seleccionar otra ubicación.');
	define('text_inventario_cambiar_ubicaion', '¿Desea cambiar la ubicacion a inventariar?');
	define('text_inventario_no_salir_ubicacion', 'El usuario seguirá trabajando con la misma ubicación.');
	define('text_inventario_finalizar', '¿Desea finalizar el inventario actual?');
	define('text_inventario_no_salir_inventario', 'El usuario continuará con el inventario actual.');
	define('text_aviso_error_intro_linea_pedido', 'Error al introducir la linea en el pedido');
	
	//Cabeceras tablas
	define('text_label_producto', 'PRODUCTO');
	define('text_label_cantidad', 'CANTIDAD');
	define('text_label_codigo', 'Código');
	define('text_label_descripcion', 'Descripción');
	define('text_label_etiqueta_interna', 'Etiqueta interna');
	define('text_label_fecha_caducidad', 'Fecha de caducidad');
	define('text_label_sscc', 'SSCC');
	define('text_label_lote', 'Lote');
	define('text_label_estado_etiqueta', 'Estado');
	define('text_label_etiqueta_cantidad', 'Cantidad');
	define('text_label_sscc_et_interna','SSCC / Et. interna');
	define('text_label_total_lineas','Total líneas');
	define('text_label_doc_salida','Doc. Salida');
	define('text_label_cliente','Cliente');
	define('text_label_numero_documento','NÚMERO DOCUM.');
	define('text_label_fecha_hoy','FECHA DE HOY');
	define('text_label_fecha_programada','FECHA PROGRAMADA');
	define('text_label_movimiento','Movimiento');
	define('text_label_fecha_pedido','FECHA CREACIÓN');
	define('text_label_esperando_producto','');
	
	//Otros
	define('text_label_aceptar', 'ACEPTAR');
	define('text_label_leer_codigo', 'LEER');
	define('text_label_cancelar', 'CANCELAR');
	define('text_label_limpiar', 'LIMPIAR');
	define('text_label_buscar', 'BUSCAR');
	define('text_label_finalizar', 'FINALIZAR');
	define('text_label_volver', 'VOLVER');
	define('text_label_confirmar', 'OK');
	define('text_label_acumular', 'Acumular');
	define('text_label_mostrar_ocultar', 'Mostrar/ocultar');
	define('text_label_confirmar_linea', 'Confirmar');
	define('text_label_siguiente_ubicacion', 'SIGUIENTE UBICACIÓN');
	define('text_label_otra_ubicacion', 'CAMBIAR UBICACIÓN');
	define('text_label_lote', 'LOTE');
	define('text_label_comenzar_nuevo', 'COMENZAR DE NUEVO');
	
	//Stock Productos
	define('text_label_ubicacion', 'Ubicación');
	define('text_label_completo', 'Completos');
	define('text_label_incompleto', 'Incompletos');
	define('text_label_total', 'TOTAL');
	
	//Stock Ubicacion
	define('text_label_consult_ubicacion', 'Consultar la ubicación');
	
	//Placeholder
	define('text_placeholder_esperando_ubicacion', 'Esperando ubicación ..');
	define('text_placeholder_esperando_albaran', 'Esperando albarán ..');
	
	//Cargadores 
	define('text_loading_search_ubicaciones_ocupadas', 'Buscado ubicaciones ocupadas.');
	define('text_loading_search_ubicaciones', 'Buscado ubicaciones');
	
	//Palabras comodin
	define('text_label_hora', 'horas');	
	define('text_label_minutos', 'minutos');
	define('text_label_segundos', 'segundos');
	
	//Inputs pleceholder
	define('text_placeholder_cliente', 'Introduzca un cliente');
	define('text_placeholder_fecha', 'dd/mm/yyyy');
	define('text_placeholder_movimiento', 'Introduzca tipo movimiento');
	
	//Preguntas
	define('text_question_disconfirm_line', '¿Desea desconfirmar la linea?');
	define('text_question_eliminar_linea', '¿Desea eliminar la linea seleccionada?');
	
	//Botones
	define('text_button_seleccionar', 'SELECCIONAR');
	define('text_button_crear_albaran', 'CREAR ALBARÁN');
?> 